.tall{
  min-height: 100vh;
}

textarea{
  resize: none;
}

.centerText{
  position: relative;
  top: .5rem;
}

.narrow{
  width: 40%;
}

.wide{
  width: 100%;
  /* margin: auto 0; */
}

.outline{
  outline: 1px solid #495057;
  border-radius: 5px;
}